<app-depoimentos>
  <div class="testimonials-section slide-up-fade-3">
  <ion-grid fixed>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" size-md="5">
        <div class="context-content">
           <h4 class="kicker">Depoimentos</h4>
           <h2 class="display-title">Veja o que dizem nossos <span class="highlight">clientes</span></h2>
           <p class="lead-text">
             Assista aos vídeos de depoimentos de alguns de nossos clientes e perceba como é fácil alcançar o sucesso da empresa junto à nossa equipe!
           </p>
        </div>
      </ion-col>
      <ion-col size="12" size-md="6" offset-md="1">
        <div class="video-placeholder">
          <div class="play-btn">
            <ion-icon name="play-circle-outline"></ion-icon>
          </div>
          <p>Vídeo em breve</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</app-depoimentos>
